ZPKM_CTR:Kunming Control:125.750:ZPKM:-:ZPKM:CTR:-:-:6400:6447
ZPPP_CTR:Kunming Control:124.550:PPCT:-:ZPPP:CTR:-:-:6400:6477
ZUUU_CTR:Chengdu Control:120.900:UUCT:-:ZUUU:CTR:-:-:1500:1547
ZUGY_CTR:Guiyang Control:120.700:GYCT:-:ZUGY:CTR:-:-:1550:1570
ZULS_CTR:Lhasa Control:132.350:LSCT:-:ZULS:CTR:-:-:1571:1577
ZHWH_CTR:Wuhan Control:119.700:ZHWH:-:ZHWH:CTR:-:-:6240:6257
ZHHH_CTR:Wuhan Control:134.350:HHCT:-:ZHHH:CTR:-:-:6240:6257
ZHCC_CTR:Zhengzhou Control:119.350:CCCT:-:ZHCC:CTR:-:-:6260:6277
ZSHA_CTR:Shanghai Control:124.550:ZSHA:-:ZSHA:CTR:-:-:6300:6367
ZSOF_CTR:Hefei Control:125.750:OFCT:-:ZSOF:CTR:-:-:2760:2777
ZSJN_CTR:Jinan Control:128.350:JNCT:-:ZSJN:CTR:-:-:6370:6377
ZSQD_CTR:Qingdao Control:128.550:QDCT:-:ZSQD:CTR:-:-:0100:0147
ZSSS_CTR:Shanghai Control:120.950:SSCT:-:ZSSS:CTR:-:-:6300:6367
ZSCN_CTR:Nanchang Control:125.900:CNCT:-:ZSCN:CTR:-:-:2730:3757
ZSAM_CTR:Xiamen Control:125.700:AMCT:-:ZSAM:CTR:-:-:0150:0177
ZBPE_CTR:Beijing Control:125.900:ZBPE:-:ZBPE:CTR:-:-:3000:3077
ZBAA_CTR:Beijing Control:126.700:AACT:-:ZBAA:CTR:-:-:3000:3077
ZBHH_CTR:Hohhot Control:133.700:HHCT:-:ZBHH:CTR:-:-:0030:0047
ZBYN_CTR:Taiyuan Control:120.550:YNCT:-:ZBYN:CTR:-:-:0050:0077
ZBLA_CTR:Hailar Control:123.900:LACT:-:ZBLA:CTR:-:-:7370:7377
ZJSA_CTR:Sanya Control:120.500:ZJSA:-:ZJSA:CTR:-:-:4500:4527
ZLHW_CTR:Lanzhou Control:134.700:ZLHW:-:ZLHW:CTR:-:-:6200:6217
ZLXY_CTR:Xi'an Control:125.300:XYCT:-:ZLXY:CTR:-:-:4000:4077
ZLLL_CTR:Lanzhou Control:123.750:LLCT:-:ZLLL:CTR:-:-:6200:6217
ZWUQ_CTR:Urumqi Control:118.900:ZWUQ:-:ZWUQ:CTR:-:-:6220:6237
ZYSH_CTR:Shenyang Control:118.900:ZYSH:-:ZYSH:CTR:-:-:6450:6477
ZYHB_CTR:Harbin Control:133.200:HBCT:-:ZYHB:CTR:-:-:1200:1237
ZYTX_CTR:Shenyang Control:125.950:TXCT:-:ZYTX:CTR:-:-:6450:6477
ZYTL_CTR:Dalian Control:123.200:TLCT:-:ZYTL:CTR:-:-:1240:1277
ZGZU_CTR:Guangzhou Control:132.750:ZGZU:-:ZGZU:CTR:-:-:4530:4547
ZGGG_CTR:Guangzhou Control:128.350:GGCT:-:ZGGG:CTR:-:-:4530:4547
ZGNN_CTR:Nanning Control:132.700:NNCT:-:ZGNN:CTR:-:-:2440:2477
ZGKL_CTR:Guilin Control:133.600:KLCT:-:ZGKL:CTR:-:-:2400:2427
ZGHA_CTR:Changsha Control:132.550:HACT:-:ZGHA:CTR:-:-:4550:4577
ZGZJ_CTR:Zhanjiang Control:133.950:ZJCT:-:ZGZJ:CTR:-:-:4530:4547
ZMUB_CTR:Ulaanbaatar Control:126.000:ZMUB:-:ZMUB:CTR:-:-:5060:5070